@model IEnumerable<Entities.Entities.Estacionamento>

@{
    ViewData["Title"] = "Estacionamento CBG";
}

<h1>Estacionamento Carro Bem Guardado</h1>

<p>
    <a asp-action="Create"><input type="button" value="Marcar Entrada" class="btn btn-primary" style="margin-top:2rem"/></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracaoEstacionamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasEfetivas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantiaAPagar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoEstacionamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasEfetivas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantiaAPagar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Marcar Saída</a> 
            </td>
        </tr>
}
    </tbody>
</table>
